

.todo-container .adding {
    display: grid;
    
    row-gap: 10px;
    /* padding: 20px 30px; */
    padding-block: 20px;
    background-color: var(--bgColorMain);
}

.todo-container .adding input {
    width: 100%;
    font-size: 16px;
    border-radius: 9px;
    border: 1px solid var(--darkColor);
    padding: 2px 4px;
}

.todo-container button {
    background-color: var(--darkColor);
    border: 1px solid var(--bgColorMain);
    border-radius: 9px;
    color: var(--lightMainColor);
    padding: 2px 8px;
    font-size: 14px;
}

.todo-container button:hover {
    cursor: pointer;
}

.todo-container .adding .row-bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}